BODY {
  font-size: 12pt;
  font-family: sans-serif;
}

H1 {
  font-size: 1.2em;
  font-weight: bold;
  color: darkblue;
}

H2 {
  font-size: 1.1em;
  font-weight: bold;
  color: blue;
}

#socketData {
  position: absolute;
  top:10px;
  background-color: red;
  color: white;
  font-size: 0.7em;
}

#debug {
  position: absolute;
  top: 5px;
  right: 100px;
}

IMG.favicon {
  position: relative;
  top: -8px;
  left: -25px;
}

DIV.cluster {
  float: left;
}

.clearBoth {
  clear: both;
}

DIV.micropost {
  font-size: 0.7em;
  height: 50px;
  overflow: auto;
  overflow-x: hidden;
}

DIV.mediaItem {
  float: left;
  position: relative;
}

DIV.firstMediaItem {
  margin-left: 50px;
}

IMG.photo {
  height: 100px !important;
  margin: 0.2em;
}

IMG.photo:after {
  border: 1px solid rgba(0, 0, 0, 0.1);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

VIDEO.photo {
  height: 100px !important;
  margin: 0.2em;
}

IMG.representative {
  border-left: solid orange 3px;
}

IMG.face {
  border-right: solid red 3px;
}

SPAN.close {
  display: none;
  background-color: black;
  color: red;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 15px;
  text-align: center;
  cursor: pointer;
}