BODY {
  font-size: 12pt;
  font-family: sans-serif;
}

H1 {
  font-size: 1.2em;
  font-weight: bold;
  color: darkblue;
}

H2 {
  font-size: 1.1em;
  font-weight: bold;
  color: blue;
}

#socketData {
  position: absolute;
  top:10px;
  background-color: red;
  color: white;
  font-size: 0.7em;
}

#debug {
  position: absolute;
  top: 10px;
  right: 100px;
}

IMG.favicon {
  position: relative;
  top: -8px;
  left: -25px;
}

DIV.cluster {
  float: left;
}

DIV.micropost {
  font-size: 0.7em;
  height: 50px;

  overflow: auto;
  overflow-x: hidden;
}

DIV.mediaItem {
  float: left;
}

DIV.firstMediaItem {
  margin-left: 50px;
}

IMG.photo {
  height: 100px !important;
  margin: 0.2em;
}

IMG.photo:after {
  border: 1px solid rgba(0, 0, 0, 0.1);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
