body {
  font-size: 12pt;
  font-family: sans-serif;
}

h1 {
  font-size: 1.2em;
  font-weight: bold;
  color: darkblue;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
  color: blue;
}

fieldset {
  border: none;
  margin: 0;
}

input.number {
  width: 3em;
  margin-left: 0.5em;
}

#statusMessages {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  font-size: 0.7em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 35em;
}

#statistics {
  position: absolute;
  top: 1em;
  right: 2em;
}

#differences {
  position: absolute;
  z-index: 1000;
  background-color: white;
  left: 2em;
  top: 1em;
  padding: 1em;
  display: none;
  border: solid darkblue 4px;
}

#querylog {
  margin: 0 0.75em;
  float: left;
  height: 4em;
  width: calc(100% - 1.2em);
  width: -webkit-calc(100% - 1.2em);
  overflow: auto;
}

#mediaItemClusters {
  clear: both;
  margin-top: 15em;
  height: calc(100% - 15em);
  height: -webkit-calc(100% - 15em);
  width: calc(100% - 5px);
  width: -webkit-calc(100% - 5px);
  overflow-y: auto;
  overflow-x: hidden;
}

#mediaGallery {
  clear: both;
  margin-top: 3em;
  height: calc(100% - 4em);
  height: -webkit-calc(100% - 4em);
  width: calc(100% - 5px);
  width: -webkit-calc(100% - 5px);
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
}

#mediaClusterSettings {
  position: fixed;
  background-color: white;
  z-index: 2;
  width: calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
}

#mediaGallerySettings {
  position: fixed;
  background-color: white;
  z-index: 1;
  width: calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
}

.tabs {
  position: relative;
  clear: both;
}

.tab {
  float: left;
}

.tab > label {
  background: #eee;
  padding: 0.3em 0.6em;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
}

.tab [type=radio] {
  display: none;
}

.content {
  position: absolute;
  top: 1.45em;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 0.1em;
  border: 1px solid #ccc;
  overflow: hidden;
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 2;
}

[type=radio]:unchecked ~ label ~ .content {
  display: none;
}

.cluster {
  float: left;
  white-space: nowrap;
  padding: 0.5em 0;
}

.mediaItem {
  float: left;
  position: relative;
  margin: 1px;
  -webkit-transition: top 2s, left 2s, -webkit-transform 2s, -webkit-filter 2s;
  transition: top 2s, left 2s, transform 2s, filter 2s;
}

.lastMediaItem {
  margin-right: 50px;
}

.photo {
  height: 100px !important;
  margin: 0.05em;
}

.photoBorder {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.tileBorder {
  outline: solid 1px #ccc;
  outline-offset: -1px;
}

.checkerbordTile {
  background-color:#eee;
  background-image: -webkit-linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc), -webkit-linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc), linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
}

.highlightTile {
  -webkit-animation: highlight 1s ease infinite alternate;
  animation: highlight 1s ease infinite alternate;
  outline: solid 1px transparent;
  outline-offset: -1px;
}

@-webkit-keyframes highlight {
  0% {
    outline-color: transparent;
  }
  100% {
    outline-color: red;
  }
}

@keyframes highlight {
  0% {
    outline-color: transparent;
  }
  100% {
    outline-color: red;
  }
}

.face {
  border-right: solid red 3px;
}

.favicon {
  position: absolute;
  top: 3px;
  left: 3px;
}

.close {
  display: none;
  background-color: black;
  color: red;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  text-align: center;
  cursor: pointer;
}

.micropost {
  font-size: 0.7em;
  height: 50px;
  overflow: auto;
  overflow-x: hidden;
  border: solid 1px #ccc;
  white-space: normal;
}